@charset "utf-8";

#special-list dl a#si_sp_bnr_1 {
	display:none;
}
#special-list dl a#si_sp_bnr_2 {
    display:none;
}
#special-list dl a#si_sp_bnr_3 {
    display:none;
}
#special-list dl a#si_sp_bnr_4 {
    display:none;
}